<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= book.publication_date %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= book.edition %>
  </p>

</div>
